
<table border="1" ng-controller="routeCtrl">
    <tr>
        <td>Route Id</td>
        <td>Points in route</td>
        <td>Total length</td>
        <td>Creator</td>
    </tr>
            <tr ng-repeat="route in routeList">
                <td>{{route.id}}</td>
                <td>
                    <table border="1">
                        <tr>
                            <td>Name</td>
                            <td>Type</td>
                            <td>X</td>
                            <td>Y</td>
                        </tr>
                        <tr ng-repeat="point in route.points">
                        <td>{{point.name}}</td>
                        <td>{{point.pointType}}</td>
                        <td>{{point.x}}</td>
                        <td>{{point.y}}</td>
                        </tr>
                    </table>
                </td>
                <td>{{route.totalLength}}</td>
                <td>{{route.owner.initials}}</td>
                <td class="actions">
                    <button class="btn btn-custom " name="submit" type="submit" data-ng-click="pointListDelete(pointList.id)">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-custom " name="submit" type="submit" data-ng-click="pointListUpdate(pointList.id)">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
</table>
