.pony-img-body {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  display: block;
  background: no-repeat center center fixed;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.form-login {
  position: relative;
  max-width: 330px;
  padding: 15px;
  margin: 12em auto;
  background-color: rgba(72, 61, 139, 0.7);
  border-radius: 15px;
}
.form-login .form-login-error {
  color: red;
}
.form-login .form-login-heading {
  color: azure;
}
.form-login .form-login-heading,
.form-login .form-login-error,
.form-login .checkbox {
  margin-bottom: 10px;
  text-align: center;
}
.form-login .checkbox {
  font-weight: normal;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login .btn {
  background-color: #6220a6;
  border: none;
}
.form-login .btn:hover {
  background-color: #8027c6;
}
.form-login .btn:active {
    background-color: #7626b8;
}
.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
